<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">



   <form id="form" action="/submitfraction" method="post" style="display: none">
       <h2>Выбери фракцию!</h2>
       <p><input name="fraction" type="radio" value="orda" checked> Орда </p>
       <p><input name="fraction" type="radio" value="alians"> Альянс </p>
       <p><input name="fraction" type="radio" value="elphs"> Эльфы </p>

       <button type="submit" value="123">Отправить</button>
   </form>






    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>



                <% if (user.local_id) { %>
                <p>
                    <strong>id</strong>: <%= user.local_id %><br>
                    <strong>email</strong>: <%= user.local_email %><br>
                    <strong>password</strong>: <%= user.local_password %>
                </p>

                <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>




        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.facebook_id) { %>
                <p>
                    <strong>id</strong>: <%= user.facebook_id %><br>
                    <strong>token</strong>: <%= user.facebook_token %><br>
                    <strong>email</strong>: <%= user.facebook_email %><br>
                    <strong>name</strong>: <%= user.facebook_name %><br>
                </p>
                <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                <% } else { %>
                <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                <% } %>

            </div>
        </div>




        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->
                <% if (user.twitter_id) { %>
                <p>
                    <strong>id</strong>: <%= user.twitter_id %><br>
                    <strong>token</strong>: <%= user.twitter_token %><br>
                    <strong>display name</strong>: <%= user.twitter_displayName %><br>
                    <strong>username</strong>: <%= user.twitter_username %>
                </p>
                <a href="/unlink/twitter" class="btn btn-info">Unlink</a>
                <% } else { %>
                <a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
                <% } %>

            </div>
        </div>


    </div>
</div>
</div>


<script>
    $(document).ready(function () {
        $.ajax({
            url: "/submitfraction",
            success: function(data){
                if (data == 'Этот пидр не выбрал фракцию!')
                    $('#form').css('display', 'block');
            }
        });
    });
</script>

</body>
</html>